body{
background:#0b0f1a;
color:white;
font-family:Poppins;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#121826;
}

.logo{
color:#22c55e;
font-weight:bold;
}

.sidebar{
position:fixed;
right:-260px;
top:0;
width:250px;
height:100%;
background:#121826;
transition:.4s;
padding:20px;
}

.sidebar.active{
right:0;
}

.menuItem{
padding:12px;
border-bottom:1px solid #1f2937;
cursor:pointer;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.balance{
font-size:40px;
margin-top:10px;
}

.buttons{
margin-top:10px;
}

button{
background:#22c55e;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
}

.card{
background:#121826;
padding:20px;
margin-top:20px;
border-radius:10px;
}

.table{
width:100%;
}

.table td{
padding:8px;
border-bottom:1px solid #1f2937;
}

.crypto{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
}

.ad{
height:90px;
background:#1f2937;
display:flex;
align-items:center;
justify-content:center;
margin-top:20px;
}

.circleBox{
display:flex;
justify-content:center;
margin-top:20px;
}

.circleText{
position:absolute;
margin-top:80px;
}

.light{
background:#f3f4f6;
color:black;
}
